.App {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.reservationBlock {
  width: 100px;
  border-right: 1px solid grey;
  padding-right: 10px;
}
.usersBlock {
}

.reservation-input input {
  width: 90%;
}
